@import "App.css";
@import "Colors.css";
@import "Measures.css";

.AdvancedSearch{

}

.AdvancedSearch-Filters {
    width: 25%;
    padding: var(--default-padding);
    background-color: var(--color-generic-dark);
    border-radius: var(--default-radius) !important;
}

.AdvancedSearch-Filters-EuiFieldSearch {
    height: calc(2.5rem) !important;
    margin: 0 !important;
    background-color: var(--color-generic-medium) !important;
    width: 100% !important;
    border: 0 groove var(--color-special-secondary) !important;
    border-radius: var(--default-radius) !important;
}

.Filter-Platform-Svg {
    fill: var(--color-white);
    width: auto;
    height: 1.5rem;
}

.ResetFilter-Button {
    text-align: center;
    width: 100%;
    background-color: var(--color-generic-medium) !important;
    color: var(--color-white) !important;
}

.euiRangeThumb {
    display: none !important;
}

.ClearFilter-Button {
    color: #7186a8;
    font-size: 1.45rem;
    cursor: pointer;
}

.AdvancedSearch-Results-And-Sorting {
    width: 75%;
}

.AdvancedSearch-Sorting{
    padding: var(--default-padding);
    width: 100%;
}

.AdvancedSearch-Sorting-Sorting {
    width: 100%;
}

.AdvancedSearch-Sorting-View {

}

.AdvancedSearch-Sorting-View-Content {
    background-color: var(--color-generic-dark);
    padding: var(--small-padding);
    border-radius: var(--default-radius);
}

.AdvancedSearch-Sorting-View-Icon-Active {
    height: 1.6rem;
    width: auto;
    border-radius: var(--small-radius);
    color: var(--color-white);
    cursor: pointer;
}

.AdvancedSearch-Sorting-View-Icon-Disabled {
    height: 1.6rem;
    width: auto;
    color: var(--color-generic-medium);
    cursor: pointer;
}

.AdvancedSearch-Results {
    width: 100%;
    padding: 0 var(--big-padding);
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-margin);
}

.AdvancedSearch-Results-List {
    width: 100%;
    padding: 0 var(--big-padding);
}

.AdvancedSearch-Results-Item{
    width: calc(33.3% - var(--default-margin));
    margin-bottom: 0;
    background-color: var(--color-header);
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--color-generic-medium);
}

.AdvancedSearch-Results-Item-Image{
    border-radius: var(--default-radius) var(--default-radius) 0 0;
    width: 100%;
    height: auto;
}

.AdvancedSearch-Results-Item-Info {
    padding: var(--small-padding);
}

.AdvancedSearch-Results-Item-Info-Availability {
    text-align: left;
}

.AdvancedSearch-Results-Item-Info-Availability-Svg {
    fill: var(--color-white);
    width: auto;
    height: 1rem;
}

.AdvancedSearch-Results-Item-Info-Misc{
    width: 100%;
}

.AdvancedSearch-Results-Item-Info-Price{
    text-align: right;
    padding: var(--extra-small-padding);
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--color-special-secondary);
    font-family: 'Kanit', sans-serif;
}

.AdvancedSearch-Results-Item-Info-Price-Min{
    color: var(--color-special-primary);
    font-size: 1.125rem;
}

.AdvancedSearch-Results-Item-Info-Price-Max {
    color: var(--color-grey);
    font-size: 0.8rem;
}

.AdvancedSearch-Results-Item-Info-Price-ComingSoon {
    color: var(--color-white);
    font-size: 1.125rem;
}

.AdvancedSearch-Results-Item-Info-Price-Free {
    color: var(--color-white);
    font-size: 1.125rem;
}

.AdvancedSearch-List-Item-Content-Image {
    width: auto;
    height: 4rem;
}

.AdvancedSearch-List-Item-Content-Info {
    height: 4rem;
    justify-content: center;
    align-content: center;
}

.AdvancedSearch-List-Item-Price-Price {
    text-align: right;
    padding: var(--small-padding);
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--color-special-secondary);
    font-family: 'Kanit', sans-serif;
}

.AdvancedSearch-List-Item {
    padding: var(--small-padding);
    background-color: var(--color-header);
    border-radius: var(--small-radius);
    border: var(--default-border) groove var(--color-generic-medium);
}

.AdvancedSearch-List-Item-Price-Platform-Svg {
    fill: var(--color-white);
    width: auto;
    height: 1.2rem;
}

.AdvancedSearch-LoadMore-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.AdvancedSearch-LoadMore {
    background-color: var(--color-generic-medium);
    color: white;
    padding: var(--small-padding);
    border-radius: var(--small-radius);
    transition: var(--default-transition);
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - var(--default-margin)*2);
}

.AdvancedSearch-LoadMore:hover {
    background-color: var(--color-header);
}

.AdvancedSearch-Filter {
    border: none !important;
    background-color: var(--color-generic-dark) !important;
    color: white !important;
}

.AdvancedSearch-Filter-ComboBox {
    border: none !important;
    background-color: var(--color-generic-dark) !important;
    color: #8494af !important;
}

.AdvancedSearch-Filter .euiComboBox__inputWrap {
    background-color: var(--color-generic-dark) !important;
    border: none !important;
    color: white !important;
}

.AdvancedSearch-Filter .euiComboBoxPlaceholder {
    color: white !important;
}

.AdvancedSearch-Filter .euiComboBoxPill {
    background-color: #444 !important;
    color: white !important;
}

.euiComboBoxOptionsList {
    background-color: var(--color-generic-dark) !important;
    color: white !important;
    border: none !important;
}

.euiComboBoxOption {
    background-color: var(--color-generic-dark) !important;
    color: white !important;
}

.ShowFilters-Button {
    text-align: center;
    width: 100%;
}

.HideFilters-Button {
    text-align: center;
    width: 100%;
    background-color: var(--color-generic-dark) !important;
}

@media (max-width: 900px) {
    .AdvancedSearch-Results-And-Sorting {
        width: 100%;
    }

    .AdvancedSearch-Results-List {
        padding: 0;
    }

    .AdvancedSearch-Results {
        padding: 0;
    }

    .AdvancedSearch-Results-List {
        padding: 0;
    }

    .AdvancedSearch-Results-Item-Info {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .AdvancedSearch-Results-Item{
        width: calc(50% - var(--small-margin));
        height: 100%;
    }

    .AdvancedSearch-Results-Item-Info-Vars{
        display: block !important;
    }

    .AdvancedSearch-Results-Item-Info-Misc, .AdvancedSearch-Results-Item-Info-Price{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-top: var(--extra-small-margin);
    }

    .AdvancedSearch-List-Item-Content{
        display: flex;
        align-items: center;
    }

    .AdvancedSearch-List-Item-Content-Image {
        width: auto;
        height: 3rem;
    }

    .AdvancedSearch-List-Item-Content-Info {
        min-height: 3rem;
        justify-content: center;
        align-content: center;
    }

    .AdvancedSearch-List-Item-Price-Platform-Svg {
        fill: var(--color-white);
        width: auto;
        height: 1.2rem;
    }

    .AdvancedSearch-Sorting{
        padding: var(--default-padding) 0;
        width: 100%;
    }

    .AdvancedSearch-Sorting-Sorting {
        width: 100%;
        margin-right: var(--default-padding);
    }

    .AdvancedSearch-Sorting-View {
        margin-right: 0 !important;
    }

    .AdvancedSearch-Results-Item {
        text-align: center;
    }

    .AdvancedSearch-Filters {
        width: 100%;
        padding: var(--default-padding);
    }

}