@import "App.css";
@import "Colors.css";
@import "Measures.css";

.AdvancedSearch{

}

.AdvancedSearch-Filters {
    width: 25%;
    padding: var(--default-padding);
    background-color: var(--blue-2);
    border-radius: var(--default-radius) !important;
}

.AdvancedSearch-Filters-EuiFieldSearch {
    height: calc(2.5rem) !important;
    margin: 0 !important;
    background-color: var(--blue-s) !important;
    width: 100% !important;
    border: 0 groove var(--blue-5) !important;
    border-radius: var(--default-radius) !important;
}

.Filter-Platform-Svg {
    fill: var(--white);
    width: auto;
    height: 1.5rem;
}

.ResetFilter-Button {
    text-align: center;
    width: 100%;
}

.euiRangeThumb {
    display: none !important;
}

.ClearFilter-Button {
    color: #7186a8;
    font-size: 1.45rem;
    cursor: pointer;
}

.AdvancedSearch-Results-And-Sorting {
    width: 75%;
}

.AdvancedSearch-Sorting{
    padding: var(--default-padding);
    width: 100%;
}

.AdvancedSearch-Sorting-Sorting {
    width: 100%;
}

.AdvancedSearch-Sorting-View {

}

.AdvancedSearch-Sorting-View-Content {
    background-color: var(--blue-2);
    padding: var(--small-padding);
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--blue-5);
}

.AdvancedSearch-Sorting-View-Icon-Active {
    height: 1.6rem;
    width: auto;
    border-radius: var(--small-radius);
    color: var(--blue-6);
    cursor: pointer;
}

.AdvancedSearch-Sorting-View-Icon-Disabled {
    height: 1.6rem;
    width: auto;
    color: var(--white);
    cursor: pointer;
}

.AdvancedSearch-Results {
    width: 100%;
    padding: 0 var(--big-padding);
    display: flex;
    flex-wrap: wrap;
    gap: var(--default-margin);
}

.AdvancedSearch-Results-List {
    width: 100%;
    padding: 0 var(--big-padding);
}

.AdvancedSearch-Results-Item{
    width: calc(33.3% - var(--default-margin));
    margin-bottom: 0;
    background-color: var(--blue-s);
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--blue-5);
}

.AdvancedSearch-Results-Item-Image{
    border-radius: var(--default-radius) var(--default-radius) 0 0;
    width: 100%;
    height: auto;
}

.AdvancedSearch-Results-Item-Info {
    padding: var(--small-padding);
}

.AdvancedSearch-Results-Item-Info-Availability {
    text-align: left;
}

.AdvancedSearch-Results-Item-Info-Availability-Svg {
    fill: var(--white);
    width: auto;
    height: 1rem;
}

.AdvancedSearch-Results-Item-Info-Misc{
    width: 100%;
}

.AdvancedSearch-Results-Item-Info-Price{
    text-align: right;
    padding: var(--extra-small-padding);
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--green-1);
    font-family: 'Kanit', sans-serif;
}

.AdvancedSearch-Results-Item-Info-Price-Min{
    color: var(--green-1);
    font-size: 1.125rem;
}

.AdvancedSearch-Results-Item-Info-Price-Max {
    color: var(--grey-4);
    font-size: 0.8rem;
}

.AdvancedSearch-Results-Item-Info-Price-ComingSoon {
    color: var(--white);
    font-size: 1.125rem;
}

.AdvancedSearch-Results-Item-Info-Price-Free {
    color: var(--white);
    font-size: 1.125rem;
}

.AdvancedSearch-List-Item-Content-Image {
    width: auto;
    height: 4rem;
}

.AdvancedSearch-List-Item-Content-Info {
    height: 4rem;
    justify-content: center;
    align-content: center;
}

.AdvancedSearch-List-Item-Price-Price {
    text-align: right;
    padding: var(--small-padding);
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--green-1);
    font-family: 'Kanit', sans-serif;
}

.AdvancedSearch-List-Item {
    padding: var(--small-padding);
    background-color: var(--blue-2);
    border-radius: var(--small-radius);
    border: var(--default-border) groove var(--blue-5);
}

.AdvancedSearch-List-Item-Price-Platform-Svg {
    fill: var(--white);
    width: auto;
    height: 1.2rem;
}

.AdvancedSearch-List-Item-Content-Info-Genre {
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    border-radius: var(--small-radius);
    background-color: var(--blue-4);
    color: var(--grey-3);
    font-size: 0.7rem;
    margin-right: 3px;
}


.AdvancedSearch-LoadMore-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.AdvancedSearch-LoadMore {
    background-color: var(--blue-4);
    color: white;
    padding: var(--small-padding);
    border-radius: var(--small-radius);
    transition: var(--default-transition);
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - var(--default-margin)*2);
}

.AdvancedSearch-LoadMore:hover {
    background-color: var(--blue-2);
}



@media (max-width: 900px) {

}