/*
SCREEN WIDTHS:
0 - 900
901 - Inf

FONTS:
https://fonts.google.com/specimen/Kanit
https://fonts.google.com/specimen/Roboto
*/

@import "Colors.css";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
}

h1 {
  font-size: 2.25rem !important;
}

h2 {
  font-size: 1.75rem !important;
}

h3 {
  font-size: 1.5rem !important;
}

h4 {
  font-size: 1.2rem !important;
}

p {
  font-size: 1rem !important;
}

.ReactiveBase {
  margin: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100%;
}

.Content {
  font-family: 'Kanit', sans-serif;
  background-color: var(--blue-3);
  color: var(--white);
  min-height: var(--min-body-height);
  padding: var(--default-padding) 15% var(--default-padding) 15%;
}

.Flex-start-div {
  display: flex;
  align-items: start;
}

.Flex-center-div {
  display: flex;
  align-items: center;
}

.Space-Between {
  justify-content: space-between;
}

.Margin-left {
  margin-left: var(--default-margin);
}

.Margin-left-small {
  margin-left: var(--small-margin);
}


.Margin-right {
  margin-right: var(--default-margin);
}

.Margin-right-small {
  margin-right: var(--small-margin);
}

.Margin-bottom {
  margin-bottom: var(--default-margin);
}

.Not-displayed {
  opacity: 0;
}

.Link-simple {
  font-family: 'Kanit', sans-serif;
  color: var(--white);
  text-decoration: none;
  transition: var(--default-transition);
}

.Link-simple:hover {
  color: var(--grey-3);
}

.Availability-Svg {
  fill: var(--white);
  width: auto;
  height: 1.25rem;
}

.Content-Section {
  background-color: var(--blue-2);
  padding: var(--default-padding);
  border-radius: var(--default-radius);
}

@media (max-width: 900px) {

}

