:root {
    --color-special-primary: #26bbff;
    --color-special-secondary: #485975;

    --color-header: #16161b;
    --color-background: #101014;

    --color-generic-dark: #171719;
    --color-generic-medium: #343437;
    --color-generic-light: #ffffff;

    --color-grey: #d9d9d9;
    --color-white: #FFFFFF;

    --red-1: #f2231c;
    --red-2: #c60e08;
}