:root {
    --blue-1: #0D1321;
    --blue-2: #0f1d32;
    --blue-3: #1D2D44;
    --blue-4: #3E5C76;
    --blue-5: #748CAB;
    --cream-1: #F0EBD8;
    --cream-2: #FFFCF2;

    --black: #000000;
    --grey-1: #101010;
    --white: #FFFFFF;
}