:root {
    --blue-1: #0D1321;
    --blue-2: #0f1d32;
    --blue-3: #1D2D44;
    --blue-4: #3E5C76;
    --blue-5: #54657c;
    --blue-6: #afc4e0;
    --blue-s: #0b1628;
    --cream-1: #F0EBD8;
    --cream-2: #FFFCF2;

    --black: #000000;
    --grey-1: #101010;
    --grey-2: #787878;
    --grey-3: #d9d9d9;
    --grey-4: #ededed;
    --white: #FFFFFF;

    --green-1: #5ceb5c;
}