@import "App.css";
@import "Colors.css";
@import "Measures.css";

.Footer {
    text-align: center;
    background-color: var(--color-header);
    color: var(--color-grey);
    min-height: var(--footer-height);
    padding: var(--big-padding);
    font-family: 'Kanit', sans-serif;
    font-size: 0.9rem;
}

.Footer-Platforms{
    color: var(--color-grey);
}

.Footer-Platforms-Svg{
    fill: var(--color-grey);
    width: auto;
    height: 4rem;
    margin: var(--small-margin) var(--default-margin);
}

@media (max-width: 900px) {
    .Footer {
        min-height: auto;
    }

    .Footer-Platforms{

    }

    .Footer-Platforms-Svg{
        width: auto;
        height: 3rem;
        margin: var(--small-margin) var(--small-margin);
    }
}