@import "App.css";
@import "Colors.css";
@import "Measures.css";

.GameDetails {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}

.GameDetails-Year{
    font-size: 1.5rem;
    font-weight: 200;
    color: var(--color-generic-light);
    font-style: italic;
}

.GameDetails-Year-Recommendations {
    width: fit-content;
    color: var(--color-white);
    font-size: 1rem;
    padding: var(--small-padding);
    border-radius: var(--big-radius);
    background-color: var(--color-generic-dark);
}

.GameDetails-Liked-Text {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 0.9rem;
    cursor: pointer;
}

.GameDetails-Liked {
    font-size: 2rem;
    color: var(--red-1);
    cursor: pointer;
}

.GameDetails-NoLiked {
    font-size: 2rem;
    color: var(--color-white);
    cursor: pointer;
}

.GameDetails-MainInfo{
    width: 66%;
    padding: var(--default-padding);
}

.GameDetails-SecondaryInfo{
    width: 33%;
    padding: var(--default-padding);
}

.GameDetails-MainInfo-Media{

}

.GameDetails-MainInfo-DisplayingMedia {
    border: var(--default-border) groove var(--color-special-secondary);
    width: 100%;
    height: auto;
    border-radius: var(--small-radius);
}

.GameDetails-MainInfo-DisplayingMedia-Video {

}

.GameDetails-MainInfo-DisplayingMedia-Image{

}

.GameDetails-MainInfo-Thumbnail {
    cursor: pointer;
    width: 15%;
    height: auto;
}

.GameDetails-MainInfo-Thumbnails-Container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    gap: var(--small-padding);
    scroll-behavior: smooth;
}

.GameDetails-SecondaryInfo-HeaderImage {
    border: var(--default-border) groove var(--color-special-secondary);
    width: 100%;
    height: auto;
    border-radius: var(--small-radius);
}

.GameDetails-SecondaryInfo-PricesTable {
    width: 100%;
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--color-special-secondary);
    background-color: var(--color-generic-medium);
}

.GameDetails-SecondaryInfo-PricesTable-Row {
    width: 100%;
    border-radius: 0;
    color: var(--color-white);
    border-bottom: var(--default-border) groove var(--color-special-secondary);
    padding: var(--default-padding);
    cursor: pointer;
}

.GameDetails-SecondaryInfo-PricesTable-Row:hover {
    background-color: var(--color-generic-dark);
}

.GameDetails-SecondaryInfo-PricesTable-Row-First {
    width: 100%;
    border-radius: var(--default-radius) var(--default-radius) 0 0;
    color: var(--color-white);
    border-bottom: var(--default-border) groove var(--color-special-secondary);
    padding: var(--default-padding);
    cursor: pointer;
}

.GameDetails-SecondaryInfo-PricesTable-Row-First:hover {
    background-color: var(--color-generic-dark);
}

.GameDetails-SecondaryInfo-PricesTable-Row-Last {
    width: 100%;
    border-radius: 0 0 var(--default-radius) var(--default-radius);
    color: var(--color-white);
    padding: var(--default-padding);
    cursor: pointer;
}

.GameDetails-SecondaryInfo-PricesTable-Row-Last:hover {
    background-color: var(--color-generic-dark);
}

.Prices-Svg {
    fill: var(--color-white);
    width: auto;
    height: 1.5rem;
}

.GameDetails-SecondaryInfo-PricesTable-Store {

}

.GameDetails-SecondaryInfo-PricesTable-Price {

}

.GameDetails-MainInfo-Description {
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}

.GameDetails-MainInfo-Description img {
    height: auto;
    width: 100%;
}

.GameDetails-MainInfo-Description * {
    padding-bottom: var(--default-padding);
}

.GameDetails-MainInfo-Description.clamped {
    max-height: 50vh;
    overflow: hidden;
    position: relative;
}

.GameDetails-MainInfo-Description.clamped::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh; /* altura del fade */
    background: linear-gradient(to bottom, rgba(52, 52, 55, 0), rgba(52, 52, 55, 1));
    pointer-events: none;
}

.GameDetails-MainInfo-Description-ShowMoreButton {
    color: var(--color-generic-light);
    border: none;
    text-decoration: underline;
    cursor: pointer;
    font-style: italic;
    text-align: center;
    font-size: 1.1rem;
    padding: var(--extra-small-padding);
}

.GameDetails-MainInfo-Description-Container{
    border-radius: var(--default-radius);
    background-color: var(--color-generic-medium);
    padding: var(--default-padding);
}

.GameDetails-MainInfo-Requirements {
    border-radius: var(--default-radius);
    background-color: var(--color-generic-medium);
    padding: var(--default-padding);
}

.GameDetails-MainInfo-GameDetails-MainInfo-Requirements-Item {
    width: 50%;
    padding: var(--small-padding) var(--default-padding);
    font-family: 'Roboto', sans-serif;
}

.GameDetails-MainInfo-GameDetails-MainInfo-Requirements-Item li {
    padding-bottom: 4px;
}

.GameDetails-MainInfo-GameDetails-MainInfo-Requirements-Container {
    border-radius: var(--default-radius);
    padding: var(--default-padding) var(--default-padding) 0 var(--default-padding);
}


.GameDetails-MainInfo-Requirements-Expandible.clamped {
    max-height: 20vh;
    overflow: hidden;
    position: relative;
}

.GameDetails-MainInfo-Requirements-Expandible.clamped::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vh; /* altura del fade */
    background: linear-gradient(to bottom, rgba(52, 52, 55,0), rgba(52, 52, 55,1));
    pointer-events: none;
}

.GameDetails-MainInfo-GameDetails-MainInfo-Requirements-Container {
    border-radius: var(--default-radius);
    background-color: var(--color-generic-medium);
    padding: var(--default-padding) var(--default-padding) 0 var(--default-padding);
}

.GameDetails-MainInfo-Languages {
    border-radius: var(--default-radius);
    background-color: var(--color-generic-medium);
    padding: var(--default-padding);
}

.GameDetails-MainInfo-GameDetails-MainInfo-Languages-Languages {
    padding: var(--small-padding) var(--default-padding);
    font-family: 'Roboto', sans-serif;
}

.GameDetails-MainInfo-LegalInfo {
    font-size: 0.8rem;
    color: var(--color-grey);
    text-align: center;
}

.GameDetails-SecondaryInfo-Section{
    border-radius: var(--default-radius);
    background-color: var(--color-generic-medium);
    padding: var(--default-padding);
    font-family: 'Roboto', sans-serif;
}

.GameDetails-SecondaryInfo-Metacritic-Grade {
    width: fit-content;
    padding: var(--small-padding);
    font-size: 2rem;
    color: var(--color-white);
}

.GameDetails-SecondaryInfo-Metacritic-Image {
    height: 3rem;
    width: auto;
}

.GameDetails-SecondaryInfo-ListItem {
    border-radius: var(--small-radius);
    background-color: var(--color-generic-dark);
    color: var(--color-white);
    padding: var(--small-padding);
    border: var(--default-border) groove var(--color-special-secondary);
    margin-bottom: -2px;
}

.GameDetails-SecondaryInfo-ListItem:hover {
    background-color: var(--color-generic-medium);
}

.GameDetails-SecondaryInfo-SO {
    color: var(--color-white);
    font-size: 1rem;
    padding: var(--small-padding) 0 0 var(--small-padding);
}

.GameDetails-SecondaryInfo-SO-disabled {
    color: var(--color-grey);
    font-size: 1rem;
    padding: var(--small-padding) 0 0 var(--small-padding);
}

.GameDetails-SecondaryInfo-Pegi-RatingImage {
    height: auto;
    width: 4.5rem;
}

.GameDetails-SecondaryInfo-Pegi-DescriptorImage {
    height: auto;
    width: 3.5rem;
}

.GameDetails-SecondaryInfo-Pegi-Descriptor {
    font-size: 0.9rem;
    margin-bottom: var(--extra-small-margin);
}

.CenteredLink {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

.NotFound404{
    font-size: 10rem;
    font-weight: bold;
}

.NotFoundText {
    font-size: 5rem;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.GameDetails-SecondaryInfo-PricesHistory{
    height: 25rem;
    width: 100%;
    padding: var(--small-padding) var(--small-padding) var(--small-padding) 0;
}

@media (max-width: 900px) {

}