@import "App.css";
@import "Colors.css";
@import "Measures.css";

.Header {
    text-align: left;
    background-color: var(--blue-1);
    color: var(--white);
    padding: var(--default-padding);
    height: calc(var(--header-height) - var(--default-padding));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-logo {
    height: calc((var(--header-height) - var(--default-padding) )* 0.75);
    width: auto;
}

.Header-icon {
    height: 2.5rem;
    width: auto;
    color: var(--white);
}

@media (max-width: 900px) {

}