@import "App.css";
@import "Colors.css";
@import "Measures.css";

.Header {
    text-align: left;
    background-color: var(--color-header);
    color: var(--color-white);
    padding: var(--big-padding);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-Banner {
    height: calc(var(--header-height) - var(--big-padding)*2);
    width: auto;
}

.Header-User-Icon {
    height: 1.2rem;
    width: auto;
    color: var(--color-white);
}

.Logout-Container{
    border-left: var(--default-border) groove var(--color-generic-light);
    padding-left: var(--default-margin);
}

@media (max-width: 900px) {

}