@import "App.css";
@import "Colors.css";
@import "Measures.css";

.Header {
    text-align: left;
    background-color: var(--blue-1);
    color: var(--white);
    padding: var(--big-padding);
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-Banner {
    height: calc(var(--header-height) - var(--big-padding)*2);
    width: auto;
}

.Header-User-Icon {
    height: 2.5rem;
    width: auto;
    color: var(--white);
}

@media (max-width: 900px) {

}