@import "App.css";
@import "Colors.css";
@import "Measures.css";

.HomeBanner {
    border: var(--default-border) groove var(--color-special-secondary);
    border-radius: var(--default-radius);
    width: 100%;
    padding: var(--small-padding);
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top;
    animation: moveBackground 150s linear infinite;
}


@keyframes moveBackground {
    0% {
        background-position: top;
    }
    100% {
        background-position: bottom;
    }
}

.HomeBanner-Container {
    padding: var(--big-padding);
    text-align: center;
}

.HomeBanner-Container-Image {
    max-width: 75%;
    height: auto;
    object-fit: contain;
}

@media (max-width: 900px) {

    .HomeBanner-Container {
        padding: var(--default-padding) var(--small-padding);
    }

    .HomeBanner-Container-Image {
        max-width: 95%;
        height: auto;
    }
}