:root {
    --header-height: 10vh;
    --footer-height: 20vh;
    --min-body-height: calc(100vh - var(--header-height) - var(--footer-height));

    --default-padding: 15px;
    --small-padding: 8px;
    --big-padding: 20px;
    --extra-small-padding: 4px;

    --default-margin: 15px;
    --small-margin: 8px;
    --big-margin: 25px;
    --extra-small-margin: 4px;

    --big-radius: 10px;
    --small-radius: 2px;
    --default-radius: 5px;
    --default-border: 1px;

    --background-image-opacity-1: linear-gradient(rgba(23, 23, 25, 0.92), rgba(23, 23, 25, 0.92));
    --background-image-opacity-2: linear-gradient(rgba(23, 23, 25, 0.875), rgba(23, 23, 25, 0.875));

    /* TRANSITIONS */
    --default-transition: all 0.3s ease;
}