@import "App.css";
@import "Colors.css";
@import "Measures.css";

.PlatformsList {

}

.PlatformsList-Container {
    width: 100%;
}

.PlatformsList-Container-Item {
    width: 20%;
    padding: var(--big-padding);
    text-align: center;
}

.PlatformsList-Container-Item-Svg {
    width: 75%;
    height: auto;
    fill: var(--white);
    transition: var(--default-transition);
}

.PlatformsList-Container-Item-Svg:hover {
    fill: var(--grey-3);
}

@media (max-width: 900px) {

}