@import "App.css";
@import "Colors.css";
@import "Measures.css";

.Searchbar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-generic-medium);
    border-radius: var(--big-radius);
    border: var(--default-border) groove var(--color-special-secondary);
    border-right: none;
    height: 2.5rem;
    margin-bottom: var(--big-margin);
    z-index: 100;
}

.Searchbar-sections {
    padding: var(--default-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
}

.Searchbar-separator {
    width: 1px;
    height: 2.5rem;
    border-radius: 0;
    border-right: var(--default-border) groove var(--color-special-secondary);
    z-index: 100;
}

.Searchbar-FieldSearch-Container {
    height: 2.5rem;
    width: 25%;
    border-radius: var(--big-radius);
    z-index: 100;
}

.Searchbar-FieldSearch {
    height: 2.5rem !important;
    margin: 0 !important;
    background-color: var(--color-generic-dark) !important;
    width: 100% !important;
    border: 0 groove var(--color-special-secondary) !important;
    border-radius: 0 var(--big-radius) var(--big-radius) 0 !important;
    z-index: 100;
}

.Searchbar-FieldSearch-Results {
    background-color: var(--color-generic-medium);
    margin: 0;
    width: 100%;
    border-radius: var(--big-radius);
    z-index: 100;
}

.Searchbar-FieldSearch-Result{
    width: 100%;
    padding: var(--small-padding) 0;
    z-index: 100;
}

.Searchbar-FieldSearch-Result:hover {
    background-color: var(--color-generic-dark);
    border-radius: var(--big-radius);
    z-index: 100;
}

.Searchbar-FieldSearch-Result-Image {
    width: 40%;
    padding: 0 0 0 var(--small-padding);
    z-index: 100;
}

.Searchbar-FieldSearch-Result-Info {
    padding: var(--small-padding);
    width: 60%;
    z-index: 100;
}

.Searchbar-FieldSearch-Result-Hr {
    border: none;
    border-top: 1px solid var(--color-background);
    margin: 0 var(--small-padding);
    z-index: 100;
}

.Searchbar-FieldSearch-Result-Info-Price {
    margin-top: var(--small-padding);
    z-index: 100;
}

.Searchbar-FieldSearch-Link {
    color: var(--color-white);
    z-index: 100;
}

.Searchbar-FieldSearch-Link-AdvancedSearch {
    padding: var(--small-padding);
    text-align: center;
    font-family: 'Kanit Light', sans-serif;
    font-size: 0.8rem;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.Searchbar-FieldSearch-Link-AdvancedSearch:hover {
    background-color: var(--color-generic-dark);
    border-radius: var(--default-radius) var(--default-radius) var(--big-radius) var(--big-radius);
    z-index: 100;
}

@media (max-width: 900px) {
    .Searchbar{
        margin-bottom: var(--default-margin);
    }

    .Searchbar-Small{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-generic-dark);
        border-radius: var(--big-radius);
        border: var(--default-border) groove var(--color-special-secondary);
        border-right: none;
        height: 2.5rem;
        margin-bottom: var(--default-margin);
        z-index: 100;
    }

    .Searchbar-FieldSearch-Container {
        width: 50%;
    }


    .Searchbar-FieldSearch-Results {
        width: 200%;
        margin-left: -100%;
    }

}