@import "App.css";
@import "Colors.css";
@import "Measures.css";

.Searchbar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--blue-2);
    border-radius: var(--default-radius);
    border: var(--default-border) groove var(--blue-5);
    height: 2.5rem;
    margin-bottom: var(--big-margin);
}

.Searchbar-sections {
    padding: var(--default-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Searchbar-search {
    height: 2.5rem;
    width: 25%;
    margin: 0;
    border-radius: 0;
    border-left: var(--default-border) groove var(--blue-5);
}

.Searchbar-separator {
    width: 1px;
    height: 2.5rem;
    border-radius: 0;
    border-right: var(--default-border) groove var(--blue-5);
}

.Searchbar-datasearch {
    height: calc(2.5rem - 2px);
    margin: 0;
    padding: 0;
    background-color: var(--blue-2);

}

.Searchbar-datasearch input {
    color: red;
}


@media (max-width: 900px) {

}