@import "App.css";
@import "Colors.css";
@import "Measures.css";

.SpecialPrices {

}

.SpecialPrices-Item-Content-Image {
    width: auto;
    height: 4rem;
}

.SpecialPrices-Item-Content-Info {
    height: 4rem;
    justify-content: center;
}

.SpecialPrices-Item-Price-Price {
    color: var(--color-special-primary);
    font-size: 1.5rem;
    padding: var(--small-padding);
    border-radius: var(--small-radius);
    background-color: var(--color-generic-dark);
    border: var(--default-border) groove var(--color-special-primary);
    font-family: 'Kanit', sans-serif;
}

.SpecialPrices-Item {
    padding: var(--small-padding);
    background-color: var(--color-background);
    border-radius: var(--small-radius);
    border: var(--default-border) groove var(--color-generic-medium);
}

.SpecialPrices-Item-2 {
    padding: var(--small-padding);
    background-color: var(--color-generic-dark);
    border-radius: var(--small-radius);
    border: var(--default-border) groove var(--color-special-secondary);
}

.SpecialPrices-Item-Price-Platform-Svg {
    fill: var(--color-white);
    width: auto;
    height: 1.5rem;
}

.SpecialPrices-Item-Content-Info-Genre {
    font-family: 'Roboto', sans-serif;
    padding: 3px;
    border-radius: var(--small-radius);
    background-color: var(--color-generic-medium);
    color: var(--color-grey);
    font-size: 0.7rem;
    margin-right: 3px;
}

.SpecialPrices-LoadMore {
    background-color: var(--color-generic-dark);
    color: white;
    padding: var(--small-padding);
    border-radius: var(--small-radius);
    transition: var(--default-transition);
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.SpecialPrices-LoadMore:hover {
    background-color: var(--color-generic-medium);
}

.No-Desired-Games {
    color: var(--color-grey);
    font-style: italic;
    font-weight: 300;
}

@media (max-width: 900px) {

    .SpecialPrices-Item-Content{
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .SpecialPrices-Item-Content-Image {
        width: auto;
        height: 3rem;
    }

    .SpecialPrices-Item-Content-Info {
        height: auto;
        min-height: 3rem;
        justify-content: center;
        display: flex;
        align-items: center;
    }

    .SpecialPrices-Item-Price-Price {
        font-size: 1.1rem;
    }

    .SpecialPrices-Item-Price-Platform-Svg {
        display: none;
    }

    .SpecialPrices-Item-Content-Info-Genre {
        display: none;
    }

    .SpecialPrices-Item-Price-Price{
        width: max-content;
        margin-right: 0;
    }
}